<section id="characters_view" class="view">
	<h2>Personnages</h2>
	<h3>L'Oracle (sans nom connue)</h3>
	<p>"Histoire et vie du personnage" <i>(en court)</i></p>
	<h3>Radgar Brunjolf</h3>
	<p>"Histoire et vie du personnage" <i>(en court)</i></p>
	<h3>Olaf Brunjolf</h3>
	<p>"Histoire et vie du personnage" <i>(en court)</i></p>
	<h3>Prinity Valinka</h3>
	<p>Née sur les terres de Banon, Prinity était la fille du Jarl de la région de Oakfield, Thorbjorn le Brun. Elle a grandi au village fleurissant de Brightwood au côté de son père, car malheureusement, sa mère morte en couche n’a pas eu la chance de voir sa fille grandir et devenir une femme forte et persévérante. </br>
	</p>
	<h3>Bratack Dirkson</h3>
	<p>"Histoire et vie du personnage" <i>(en court)</i></p>
	<h3>Esme Dirkson</h3>
	<p>"Histoire et vie du personnage" <i>(en court)</i></p>
</section>
