<section id="rp_view" class="view">
	<h2>Guide du Role Play</h2>

	<h3>Glossaire</h3>
	<p>RP : Role Play ou "jouer un/son rôle", l’histoire qui s’écrit en ce moment.</p>
	<p>HRP : tout ce qui n’est pas considéré comme ayant trait au(x) rôle(s) (généralement les éléments du monde réél, ceux de notre bonne vieille Terre, sont HRP).</p>
	<p>RPG/JDR : Role Playing Game/Jeu De Rôle. Jeu sur lequel on interprète un personnage.</p>
	<p>MMORPG : Massively Multiplayers Online Role Playing Game. Jeu de rôle massivement multijoueur.</p>
	<p>PC/PJ : Playing Character/Personnage Joueur. Personnage dirigé par un humain.</p>
	<p>NPC/PNJ : Non Playing Character/Personnage Non Joueur. Personnage dirigé par la machine. (les monstres, les personnages qui vous donnent des quêtes par bulles de dialogues).</p>
	<p>BG : BackGround. On peut traduire par contexte ou toile de fond, cela regroupe grossièrement l’histoire révolue et/ou le caractère classique d’un élément du jeu (BG du monde, BG d’un PNJ, BG de mon personnage). Le BG conditionne souvent le RP.</p>
	<p>DM/GM/MJ : Dungeon Master/Game Master/Maître de Jeu. Personne qui est chargé d’animer le monde fictif de façon RP en proposant des scénarios aux joueurs que ces derniers doivent résoudre. Les MJs ont un compte spécifique dédié à cette tâche et comportant un panel d’option supplémentaires leur permettant de faciliter les mises en scène.</p>
	<p>AA : Aide de Jeu. Joueur qui apporte son aide aux MJs en cas de besoin. Les AA ont un compte dédié à cette tâche. (Plus d'informations dans ce sujet)</p>
	<p>AFK : Away From Keyboard, en français "loin du clavier". On utilise généralement ces trois lettres pour indiquer aux autres joueurs que l'on ne pourra pas répondre ou agir durant un certains laps de temps, pour une raison quelconque (passage aux toilettes, repas, cigarette, téléphone, etc). Elles sont évidemment à mettre entre parenthèses puisque HRP.</p>

	<h3>RP</h3>

	<p>RP est l’abrégé de Role Play, que l’on pourrait traduire en français par "jouer un rôle".</p>
	<p>Jouer RP, comme l’on dit, c'est donner une véritable vie au personnage que l'on joue, c'est­à­dire une histoire, une personnalité, un style, etc. Jouer RP c’est un peu comme jouer dans une pièce de théâtre dont le scénario s'écrit petit à petit et en direct, avec les autres personnes présentes.</p>
	<p>Pour clarifier tout cela, dans un jeu RP vous incarnez un personnage, mais ce personnage est différent de vous­même. A l’instar d’un Harisson Ford jouant Han Solo, d’un Christian Clavier jouant Jacques Ouille, d’un Viggo Mortensen jouant Aragorn, vous interprétez le rôle d’un personnage fictif dans un monde qui est plus ou moins différent du monde réel.</p>
	<p>Le personnage que vous incarnez n’aura ainsi sans doute pas la même apparence que la votre, non plus que forcément le même caractère, les mêmes attitudes, les mêmes qualités et défauts, les mêmes ambitions, et encore moins le même vécu.</p>
	<p>A vous de déterminer tout ceci, et de le mettre en œuvre en essayant de placer plus ou moins en retrait votre propre personnalité pour donner toute sa saveur à ce jeu d’acteur. Ainsi votre personnage pourra être radicalement différent de vous­même, ou bien peut­être une copie de votre caractère bien entendu retranscrit dans l’univers dans lequel votre personnage évolue.</p>
	<p>Attention, une fois que vous avez choisi la manière de jouer votre personnage, elle doit être identique chaque fois que vous l'incarnerez. Ainsi, vous ne pouvez pas être pendant deux jours un fou psychopathe, les trois jours suivants un guerrier sans cervelle puis un barde lettré et inspiré. Vous devrez donc assumer le caractère de votre personnage et prendre en compte les conséquences de ses actes.</p>
	<p>L’univers qui nous intéresse est celui de LIF, jeu que l’on qualifie vulgairement de MMORPG, traduisible par "Jeu de Rôle Massivement MultiJoueur", et sur lequel donc d’autres joueurs s’amusent. Il s’agit d’un monde, d’un univers persistant , ce qui signifie que lorsque vous ne jouez pas, ce monde continue de vivre sans vous.</p>
	<p>L’univers de LIF a l'histoire que le serveur lui donne et sa propre geographie. Dès lors, le personnage d'un joueur RP doit s'inscrire dans la trame de l'univers de LIF.</p>
	<p>Une cohérence est demandée ainsi votre personnage ne peut pas être un héros fils d'un dieu ou d'un protecteur, un invocateur de démons, le fils caché d'illidan ou la catin de Ragnar (cette liste n'est bien évidemment pas exhaustive). Votre personnage va plutôt s'inscrire dans une trame plus "simpliste" (en effet, nul besoin d'être le fils d'un dragon élémentaire pour vivre des aventures palpitantes). Gardez bien en tête que vous êtes tous des joueurs égaux face au rôleplay, la démarcation avec vos compères se fera au niveau de votre jeu et de la manière dont vous incarnez votre aventurier !</p>
	</p>
	<p>Votre personnage a un esprit propre, une façon de parler propre à lui­même également. Le faire s’exprimer selon son humeur, selon sa mentalité, est donc de mise. Il est assez vivement recommandé d’éviter le langage "trivial" , d’essayer d’enjoliver le langage courant, et en cela les expressions moyenâgeuses sont souvent appréciées pour la petite tonalité "médiévale" puisque LIF s’approche d’un jeu "médiéval" (mais bien sur c’est pas une obligatoire ! Une personne qui jouera un Mercenaire assez grognon ne passera pas par quatre chemins !)</p>
	<p>Prenons un petit exemple simple : Comment dire bonjour en RP ?</p>
	<ul>
		<li>(En s’adressant à un homme) : Salutations sire XXX *s’incline*</li>
		<li>(En s’adressant à une femme) : Bonjour à vous gente dame *baise main*</li>
		<li>(En s’adressant à un ami) : Salut vieille branche ! *grande tape dans le dos*</li>
		<li>(En s’adressant à un groupe) : Salut à vous les gueux ! *crache au sol*</li>
	</ul>
	<p>Un autre exemple : Comment quitter une conversation ?</p>
	<ul>
		<li>(A un homme) : A mon grand regret sire, je dois vous quitter céans. *salue de la tête*</li>
		<li>(A une femme) : Je suis bien malheureux, Damoiselle, de devoir interrompre la contemplation de vos doux yeux, mais le devoir m’appelle *baise main*</li>
		<li>(A un ennemi) : *dans un rire ironique* A bientôt... dans votre/ta tombe ! *se retire*</li>
		<li>(A un groupe d’ennemis) : Je n’ai plus de temps à perdre avec vous pourceaux ! *tourne les talons et part*</li>
	</ul>
	<p>Quitter une conversation RP est en général assez simple, pas besoin d’élucubrations de la part de votre personnage. Si vous devez vous déconnecter, il est préférable de quitter un environnement RP en cherchant un moyen de faire sortir votre personnage de la scène.</p>
	<p>Il est plus agréable pour les autres d’entendre un : "Je dois filer pour une urgente affaire, au revoir ! *sort de la pièce*" plutôt qu’un "(je dois déco dsl, a+)".</p>
	<ul>
		<li>Il est chaudement recommandé de mettre une majuscule en début de phrase. Même si vous n’êtes pas un grand littéraire, essayez autant que faire se peut de soigner votre orthographe, éviter aussi les abréviations et autre langage SMS.</li>

		<li>Si vous souhaitez utiliser des termes d’action, afin de symboliser les gestes de votre personnage notamment, balisez les entre étoiles si votre action doit se faire durant votre prise de parole comme dans les exemples ci­dessous. Exemple : *sourit faiblement*, *fait une révérence exagérée*, *hoche la tête*. Cela donne plus de vie à votre personnage que de le faire déblatérer des phrases sans expression dans la voix ou le visage. les émotes peuvent aussi représenter des éléments de narration subjective nécessaire à la description de certaines actions : *Semble douter de la véracité des paroles de XXX, et approche sa main de la garde de son épée*.</li>

		<li>Lorsque l’environnement est RP, il interdit d’insérer des commentaires HRP (Hors Role Play), comme par exemple : "Bonjour bande de rustres ! *montre le poing*" (quelqu’un sait ce qu’il y a à la télé ce soir ?). Privilégiez le canal TS ou Global.</li>

		<li>Evitez les anachronismes, ou plus généralement de parler dans une conversation RP d’un élément qui n’a absolument pas sa place dans le monde de LIF. Votre personnage ne possède ni télévision, ni téléphone portable, ni PC, et dans l’histoire de LIF ne figure pas Napoléon. Si vous êtes dans un environnement RP, et désirez parler de ce genre de chose, alors mettez les entre parenthèses. Imaginez vous DANS LIF. Immergez­vous dans cet univers, enivrez­vous en celui­ci !</li>

		<li>Evitez également les incohérences de "jeu". Faire une révérence à personnage qui se situe de l’autre côté d’un mur risque certainement de faire passer le votre pour un fou (ceci dit, rien n’empêche de jouer en RP le rôle d’un fou).</li>
	</ul>
	



	<h3>Les interactions</h3>
	<p>Les interactions RP entre personnages sont souvent des sujets à haute dose de controverse puisqu’elles reposent souvent sur l’entente tacite (ou parfois convenue) entre les joueurs pour orienter le RP qu’ils jouent.</p>
	<p>Il n’y a pas de règle précise, mais disons que les interactions RP doivent dans leur grande majorité passer via le canal Local. Ainsi sur ce canal, on peut faire parler son personnage, le faire agir ou prendre des postures en utilisant le mode descriptif (*baisse les yeux*, *croise les bras*, *baille*).</p>
	<p>Bien évidemment, vous pouvez utiliser les emotes mises à votre disposition dans le jeu.</p>
	<p>La règle d’or dans une interaction RP est le respect du joueur d’en face.</p>
	<p>Derrière chaque personnage se trouve une joueuse ou un joueur, et si votre personnage peut ne pas du tout en respecter un autre, vous, le joueur derrière son écran, se doit de rester fair­play et respectueux des autres joueurs.</p>
	<p>Dans cette idée, lorsque vous interagissez avec un autre personnage, veillez bien à lui laisser des portes de sortie pour ne pas "forcer le RP", sauf dans le cas d’une situation le permettant et qui donc vous donne un avantage extrême.</p>
	<p>Un jeu de rôle ne se joue pas contre les autres, mais bel et bien avec.</p>
	<p>Ainsi, si vous avez en face de vous un ennemi qu’il vous faut capturer, éviter de lancer un *t’assomme* ou un *te ligote*, préférez mettre un *s’approche vivement et tente de l’assommer avec la garde de son épée* ou encore un *essaye de passer rapidement dans ton dos en tentant de te saisir les poignet pour les lier*. L’autre joueur décidera alors s’il est pris ou non. (Ou utiliser le jet de dé).</p>
	<p>Bref, il vaut mieux proposer et laisser le choix à l’autre plutôt que d’imposer, les deux joueurs peuvent ainsi vraiment jouer, il ne faut pas s’amuser au détriment des autres mais avec les autres.</p>
	<p>Il en va de même pour ce que l’on appelle les "agressions", il est de loin préférable d’avertir un minimum en RP sa proie plutôt que de l’agresser sauvagement à vue, surtout s’il s’agit d’un personnage qui vous est inconnu.</p>

	<h3>La mort RP</h3>
	<p>Il existe 3 situations pour la mort RP.
	<ul>
		<li>Après avoir été vaincu, le joueur en question accepte la mort RP.</li>
		<li>En aucun cas, un autre joueur ne peut imposer la mort RP. ( Sauf si la mort est primordial pour le rp de l'attaquant, suite à des actions passées du vaincu)</li>
		<li>Lorsqu'une action RP insensée amène un joueur à mourir durant un évent, un Maitre du Jeu peut imposer la mort RP.</li>
		<li>L'excellente alternative à la mort RP est la conséquence grave (perte de mémoire, perte d'un membre, alitement de longue durée...).</li>
		<li>Les joueurs peuvent convenir ensemble de la conséquence à appliquer. En cas de litige, un Maitre du Jeu peut trancher la question</li>
		<li>Un Maitre du Jeu peut imposer une conséquence grave, suite à une action RP.</li>
	</ul>

	<h3>Le cybersexe</h3>
	<p>Le Cybersexe ou RPQ doit être réalisé en canal Local, et dans un lieu privé, pas en public.</p>
	<p>Nous vous rappelons que le Cybersexe avec une personne mineure est passible de poursuites judiciaires pour crime, donc prenez vos précautions.</p>

	<h3>Le Meta­Gaming</h3>
	<p>Le Meta­Gaming, c'est apprendre des éléments RP de façon HRP. Par exemple, en visitant le forum, en visitant de façon HRP le QG d'une guilde, en discutant HRP avec d'autres joueurs, en lisant une discussion censée se passer derrière un mur épais, etc.</p>
	<p>Jusque là rien d'interdit, ça permet même de profiter du RP des autres.</p>
	<p>En revanche, il est formellement interdit de se servir des éléments ainsi obtenus au cours de vos RP.</p>
	<p>Si votre personnage n'a pas pu avoir l'information, même si le joueur en a connaissance, il est impossible que votre personnage s'en serve.</p>
	<p>C'est impossible, donc sévèrement puni !</p>

	<h3>Le flood</h3>
	<p>Le Flood sur le canal Global n'est pas tolérable.</p>
	<p>Il l'est encore moins sur les canaux RP.</p>
	<p>Les sanctions iront de façon croissantes : 1 avertissement, 2 avertissements, 3 avertissements, Kick.</p>
	<p>En cas d'insultes les sanctions passeront directement à 3 avertissements et Kick.</p>

	<h3>La météo</h3>
	<p>Dans LIF, nous aovns la chance de pouvoir jouer avec les quatres saisons.</p>
	<p>Cependant, meme si le jeu en lui meme ne montre aucune contrainte, dans un serveur RP, il en existe :</p>
	<ul>
		<li>Automne : Cultivable</li>
		<li>Ete : Cultivable</li>
		<li>Printemps : Cultivable</li>
		<li>Hiver : Non cultivable. Toute culture est interdite. Le commerce sera votre seul solution (ou avoir fait des réserves le reste de l'année !)</li>
	</ul>
</section>
