<section id="rules_view" class="view">
	<h2>Regles</h2>



	<h3>Personnage</h3>
	<ul>
		<li>Un seul personnage est autorisé par compte.</li>
		<li>Le nom de votre personnage doit respecter une certaine éthique.</li>
	</ul>
	<p><span class="min">Evitez donc les références à des personnages historiques ainsi que les noms inappropriés pour un jeu médiéval !</span></p>
	


	<h3>Communication entre les joueurs</h3>
	<p>Le chat est divisé en deux pour la communication.</p>
	<ul>
		<li><span class="bold">Le Global</span> : qui ne permet pas de communications RP mais permet questions et entraide entre joueurs.</li>
		<li><span class="bold">Le Local</span> : qui lui sert au RP.</li>
	</ul>
	<p><span class="min">Avec F10, vous pouvez séparer vos fenêtres, pour par exemple separer ces deux chats.</span></p>
	<p>Un serveur Teamspeak 3 est disponible et votre présence est demandée.</p>
	<ul>
		<li><span class="bold">Adresse</span> : 91.121.154.28:10001</li>
		<li><span class="bold">Mot de passe</span> : <span class="min">aucun</span></li>
	</ul>
	<p>Sur Teamspeak</p>
	<ul>
		<li>Affichez votre nom en jeu suivi du nom de votre clan. Par exemple : Olaf Brumwolf (Rittgham)</li>
		<li>Ne vous balladez pas dans les channels des autres clans. <span class="min">Pour parler aux autres il y a le channel Taverne !</span></li>
		<li>Soyez respectueux envers les autres joueurs.</li>
	</ul>
	<p>En dehors d’une action RP belliqueuse, tout comportement déplacé (injures, propos racistes, sexistes, etc) sera sanctionné à l’appréciation des GM, et pouvant aller jusqu’à un bannissement du serveur.</p>



	<h3>Terrassement et Foresterie</h3>
	<p>La montagne enneigée ne doit pas etre modifiée.</p>
	<ul>
		<li>Pas te terrassement.</li>
		<li>Pas de construction.</li>
	</ul>
	<p>Les ressources que vous récoltez (terre, roche, sable, granite, fer...) ne doivent pas etre déversées a terre.</p>
	<p><span class="min">Utilisez votre inventaire ou un charriot par exemple !</span></p>
	<p><span class="min">Vous diriez que le terrassement c'est pareil. C'est vrai, sauf que chacune de vos actions est quelque part dans la base de données.<br/>Vous pouvez par exemple bruler instantanement vos kilos de terres tout droit sortis d'une mine dans un four a poterie. Ca allegera le sevreur... Vraiment.</span></p>
	- Après avoir abattu un arbre, vous devrez absolument retirer la souche restante.<br/>
	<p>En ce qui concerne les arbres</p>
	<ul>
		<li>Retirez les souches. <span class="min">Si vous partez couper un arbre avec votre hachette, partez aussi avec une pelle !</span></li>
		<li>Pas plus de 100 arbres a l'intérieur d'un claim.</li>
		<li>Pas d'arbre sur une des 8 cases adjacentes d'un autre arbre.</li>
	</ul>
	<p>Tous les arbres de qualité inférieur a 60 sont régulierement supprimés.</p>
	<p><span class="min">Une majorité de ces règles permettent de conserver une bonne fluidité sur le serveur !</span></p>
	<p>Les GM détruirons tout ce qui n'est pas en regle et remplaceront par quelque chose de plus mobile et plus féroce !</p>



	<h3>Joueurs contre Joueurs</h3>
	<p>Ne trompez pas Isaac Newton a votre avantage</p>
	<ul>
		<li>Sauter d'une muraille pour s'echapper, non.</li>
		<li>Monter sur le dos d'un cheval, oui. <span class="min">Mais sans abus... Etre debout sur un cheval pour tuer un ours, non...</span></li>
		<li>Monter sur la tete d'un cheval, non.</li>
		<li>Courte echelle, oui.</li>
		<li>Double courte echelle, non.</li>
		<li>Courte echelle sur un cheval, non.</li>
		<li>Empiler des caisses pour monter sur une muraille, oui.</li>
		<li>Placer des objets en lévitation pour monter sur une muraille, non.</li>
	</ul>
	<p>Lors d'une action joueurs contre joueurs</p>
	<ul>
		<li>Pas de priere ou de deconnexion pour fuire.</li>
		<li>Un AFK (connecté mais absent) est présent et donc mortel. <span class="min">Si vous allez AFK et que vous ne voulez pas vous déconnecter, mettez vous a l'abri !</span></li>
		<li>Lors d'une attaque, vous ne pouvez repartir qu'avec ce que vous pouvez porter sur vous. <span class="min">Ne repartez pas avec un conteneur, armoire, charriot...</span></li>
	</ul>



	<h3>Jour du Jugement (JH)</h3>
	<p>
	- Les claims non occupés ne doivent pas être attaqués.
	Si votre clan va aider un "allié", à charge pour vous de laisser une sentinelle pour allumer un feu de signal, ou de souffler dans une corne ( à avoir dans votre inventaire ) pour rappeler vos combattants pour vous défendre.<br/>

	- Les Jarls peuvent piller leurs voisins, s’allier avec leurs vassaux, etc.<br/>

	- Les vassaux peuvent se révolter contre leur Jarl pour le renverser. Si le clan du Jarl se retrouve sans défense (tous les combattants sont tués), ce dernier perd son titre au profit d’un de ses vassaux. Si les vassaux ne peuvent s’entendre, ils peuvent régler cela tout de suite sur le champ de bataille jusqu’à ce qu’un seul clan reste à la fin. Lorsque ce sont deux territoires qui s'affrontent, si le vainqueur récupère l'amulette de Jarl d'un autre territoire, il ne pourra pas prétendre au titre de Jarl d'un territoire où il n'est pas établi, mais libre à lui de vendre, donner, échanger ladite amulette, ou les collectionner pour demander l'ordalie à la Capitale.<br/>

	- Pas de retour au combat. Si vous étiez défenseur, vous vous placez près de votre monument, soit assis, sois en vous rendant, soit debout, mais interdiction de se réarmer jusqu’à la fin du JH.</p>
</section>
