<section id="rules_view" class="view">
	<h2>Regles</h2>



	<h3>Personnage</h3>
	<ul>
		<li>Un seul personnage est autorisé par compte.</li>
		<li>Le nom de votre personnage doit respecter une certaine éthique.</li>
	</ul>
	<p><span class="min">Evitez donc les références à des personnages historiques ainsi que les noms inappropriés pour un jeu médiéval !</span></p>
	


	<h3>Communication entre les joueurs</h3>
	<p>Le chat est divisé en deux pour la communication.</p>
	<ul>
		<li><span class="bold">Le Global</span> : qui ne permet pas de communications RP mais permet questions et entraide entre joueurs.</li>
		<li><span class="bold">Le Local</span> : qui lui sert au RP.</li>
	</ul>
	<p><span class="min">Avec F10, vous pouvez séparer vos fenêtres, pour par exemple separer ces deux chats.</span></p>
	<p>Un serveur Teamspeak 3 est disponible et votre présence est demandée.</p>
	<ul>
		<li><span class="bold">Adresse</span> : 91.121.154.28:10001</li>
		<li><span class="bold">Mot de passe</span> : <span class="min">aucun</span></li>
	</ul>
	<p>Sur Teamspeak</p>
	<ul>
		<li>Affichez votre nom en jeu suivi du nom de votre clan. Par exemple : Olaf Brumwolf (Rittgham)</li>
		<li>Ne vous balladez pas dans les channels des autres clans. <span class="min">Pour parler aux autres il y a le channel Taverne !</span></li>
		<li>Soyez respectueux envers les autres joueurs.</li>
	</ul>
	<p>Le routage des pigeons voyageurs n'avait pas toute la flexibilité désirée.</p>
	<ul>
		<li>Un pigeon ne peut etre envoyé a un pigeonnier que si celui-ci a déja été rencontré.</li>
		<li>Un pigeon est envoyé en direction d'un clan. <span class="min">Pas en direction d'un joueur perdu sur la carte !</span></li>
		<li>Un pigeon peut etre envoyé depuis n'importe ou en direction d'un clan, si le pigeonnier a emporté avec lui un charriot.</li>
	</ul>
	<p><span class="min">Plus d'informations sur les pigeons voyageurs <a href="https://fr.wikipedia.org/wiki/Pigeon_voyageur" target="_blank">ici</a>.</span></p>
	<p>En dehors d’une action RP belliqueuse, tout comportement déplacé (injures, propos racistes, sexistes, etc) sera sanctionné à l’appréciation des GM, et pouvant aller jusqu’à un bannissement du serveur.</p>



	<h3>Role Play</h3>
	<p>Meme si le jeu est tres permissif, pensez que votre role play doit etre calqué sur ce qu'il est possible de faire dans la vraie vie.</p>
	<ul>
		<li>Pas de sauts de muraille ou de montagnes avec un cheval. <span class="min">Parce que sinon tu meures...</span></li>
		<li>Pas parler sur Teamspeak a ton compagnon qui est a 2 kilometres. <span class="min">Parce que sinon il t'entend pas...</span></li>
	</ul>
	<p>Interdiction d'utiliser la téléportation pour retourner chez vous. <span class="min">Sauf au debut pour augmenter votre piété.</span></p>
	<p>Pensez toujours que nous sommes là pour jouer <span class="bold">avec</span> les autres, et pas contre les autres.</p>
	<p>Le serveur est Full RP donc pensez à créer le RP même quand vous pillez.</p>
	<p>Pensez egalement à faire un RP ouvert en laissant toujours un choix à votre interlocuteur.</p>
	<p><span class="min">Un guide RP est disponible <a href="#/rp">ici</a>.</span></p>



	<h3>Terrassement et Foresterie</h3>
	<p>La montagne enneigée ne doit pas etre modifiée.</p>
	<ul>
		<li>Pas te terrassement.</li>
		<li>Pas de construction.</li>
	</ul>
	<p>Les ressources que vous récoltez (terre, roche, sable, granite, fer...) ne doivent pas etre déversées a terre.</p>
	<p><span class="min">Utilisez votre inventaire ou un charriot par exemple !</span></p>
	<p><span class="min">Vous diriez que le terrassement c'est pareil. C'est vrai, sauf que chacune de vos actions est quelque part dans la base de données.<br/>Vous pouvez par exemple bruler instantanement vos kilos de terres tout droit sortis d'une mine dans un four a poterie. Ca allegera le sevreur... Vraiment.</span></p>
	<p>Il est interdit de créer des terrassements buggés. <span class="min">Pour bloquer les joueurs par exemple...</span></p>
	<p>En ce qui concerne les arbres</p>
	<ul>
		<li>Retirez les souches. <span class="min">Si vous partez couper un arbre avec votre hachette, partez aussi avec une pelle !</span></li>
		<li>Pas plus de 100 arbres a l'intérieur d'un claim.</li>
		<li>Pas d'arbre sur une des 8 cases adjacentes d'un autre arbre.</li>
	</ul>
	<p>Tous les arbres de qualité inférieur a 60 sont régulierement supprimés.</p>
	<p><span class="min">Une majorité de ces règles permettent de conserver une bonne fluidité sur le serveur !</span></p>
	<p>Les GM détruirons tout ce qui n'est pas en regle et remplaceront par quelque chose de plus mobile et plus féroce !</p>



	<h3>Joueurs contre Joueurs</h3>
	<p>Ne trompez pas Isaac Newton a votre avantage</p>
	<ul>
		<li>Sauter d'une muraille pour s'echapper, non.</li>
		<li>Monter sur le dos d'un cheval, oui. <span class="min">Mais sans abus... Etre debout sur un cheval pour tuer un ours, non...</span></li>
		<li>Monter sur la tete d'un cheval, non.</li>
		<li>Courte echelle, oui.</li>
		<li>Double courte echelle, non.</li>
		<li>Courte echelle sur un cheval, non.</li>
		<li>Empiler des caisses pour monter sur une muraille, oui.</li>
		<li>Placer des objets en lévitation pour monter sur une muraille, non.</li>
	</ul>
	<p>Lors d'une action joueurs contre joueurs</p>
	<ul>
		<li>Pas de priere ou de deconnexion pour fuire.</li>
		<li>Un AFK (connecté mais absent) est présent et donc mortel. <span class="min">Si vous allez AFK et que vous ne voulez pas vous déconnecter, mettez vous a l'abri !</span></li>
		<li>Lors d'une attaque, vous ne pouvez repartir qu'avec ce que vous pouvez porter sur vous. <span class="min">Ne repartez pas avec un conteneur, armoire, charriot...</span></li>
	</ul>



	<h3>Jugement dernier</h3>
	<p>A Fenrir, pas de Jugement dernier regulier.</p>
	<p>Les Jugements derniers sont crees par les joueurs quand le RP le leur permet (avec validation GM).</p>
	<ul>
		<li>Seul les clans concernes ainsi que leurs allies qui seront declares au prealable aux GM pourront prendre part au Jugement dernier.</li>
		<li>Pas de retour au combat. Au respawn, vous restez assis jusqu'a la du Jugement dernier.</li>
	</ul>
</section>
