<section id="rules_view" class="view">
	<h2>Regles</h2>
	<h3>Prerequis</h3>
	<p class="para">F10 : Permet de séparer les fenêtres Global et Local<br/>
	Global : HRP ! Pas de vente, pas de rp, question et entraide entre joueurs<br/>
	Local : RP : Ventes, achats, rp divers<br/>

	Sanctions :<br/>
	Si rp dans le global : 1 avertissement par un modo ou un gm.<br/>
	A la 1ère récidive : bannissement d'une semaine.<br/>
	A la 2nde récidive : bannissement définitif.</p>
	<br/>

	<h3>Personnage</h3>
	<p class="para">
	- Un seul personnage est autorisé par compte.<br/>
	- Le reroll est interdit.<br/>
	- Le nom de votre personnage doit respecter une certaine éthique (les références à des personnages historiques ou des noms clairement non appropriés pour un jeu médiéval sont proscrits).<br/></p>
	<br/>
	<h3>Communication entre les joueurs</h3>
	<p class="para">
	- Un serveur Teamspeak 3 est disponible.<br/>
	- Adresse du serveur : <br/>
	- Il n'y a pas de mot de passe<br/>
	- Sur Teamspeak, votre nom doit être le même qu’en jeu + y inclure le nom du clan (à rajouter entre parenthèses juste après)<br/>
	- Le respect est de mise entre joueurs, aussi bien sur le TeamSpeak, qu’en vocal ou par écrit. En dehors d’une action RP belliqueuse, tout comportement déplacé (injures, propos racistes, sexistes, etc) sera sanctionné à l’appréciation des GM, et pouvant aller jusqu’à un bannissement du serveur.<br/>
	- Tout litige, réclamation ou plainte doit être faite auprès d’un GM.<br/>
	</p>
	<br/>
	<h3>Terasement et Foresterie</h3>
	<p>- La montagne enneigée : INTERDITE A LA CONSTRUCTION. Il est interdit de construire et terrasser sous peine de sanctions pouvant aller jusqu’au bannissement du serveur. Le respect de cette règle permet de conserver une bonne fluidité sur le serveur.<br/>
	- Lorsque vous minez des ressources sur cette montagne, il est INTERDIT DE DÉVERSER les ressources au sol (terre, roche, granite, fer, etc.). Utilisez votre inventaire ou un chariot par exemple.<br/>
	- Après avoir abattu un arbre, vous devrez absolument retirer la souche restante.<br/>
	- Les terrassements ne doivent pas dépasser des différences de 7 mètres entre deux cases contiguës (passer de 10.1 à 17.1, par exemple)<br/>
	- Il est interdit de planter des ceintures d’arbres autour des villages, ainsi que de planter plus de 100 arbres dans la zone d’un claim.<br/>
	- De même, sur toute l’île, il est interdit de planter un arbre sur une case adjacente à celle où se trouve déjà un autre arbre.<br/>
	- Tout manquement à ces règles seront sanctionnées sévèrement. Le respect de ces règles permet de conserver une bonne fluidité sur le serveur.</p>
	<br/><br/>
	<h3>Règles PVP</h3>

	<p>- Monter sur son cheval est autorisé ( pas sur sa tete bien evidement !). Monter sur un autre joueur est possible également. Mais le cumul des deux est interdit (le nombre d’hommes/animaux les uns au-dessus des autres ne peut excéder 2).<br/>

	- Les OVNI n’existent pas : il est interdit de placer les objets volants, identifiés ou non, tels que troncs, bancs ou autres objets. On peut créer une échelle de caisses, de bancs, de troncs, à la seule condition de les installer les uns sur les autres, selon les lois de la gravité.<br/>

	- En dehors des Heures de Jugements, l’attaque de la Cité Royale est autorisée à condition de se déclarer rebelle à la couronne (action RP obligatoire) ATTENTION, le Titre de Roi ou de Reine s'accompagne d'obligation, notamment vis-à-vis de l'équilibre du serveur. Ce n'est donc pas simplement des conséquences rp, il y a les conséquences hrp à prendre en compte.<br/>

	- Lors d’une action PVP, il est interdit d’utiliser la Prière ou de se déconnecter pour fuir.<br/>

	- Un joueur AFK (connecté mais absent) n’échappe pas à l’ensemble de ces règles.<br/>

	- Lors d'une attaque lors d'un JH, vous ne pouvez prendre que ce que vous pouvez porter sur vous (pas de charette).</p>
	<br/>
	<h3>Heure du JH</h3>
	<p>- Les claims non occupés ne doivent pas être attaqués.
Si votre clan va aider un "allié", à charge pour vous de laisser une sentinelle pour allumer un feu de signal, ou de souffler dans une corne ( à avoir dans votre inventaire ) pour rappeler vos combattants pour vous défendre.<br/>

- Les Jarls peuvent piller leurs voisins, s’allier avec leurs vassaux, etc.<br/>

- Les vassaux peuvent se révolter contre leur Jarl pour le renverser. Si le clan du Jarl se retrouve sans défense (tous les combattants sont tués), ce dernier perd son titre au profit d’un de ses vassaux. Si les vassaux ne peuvent s’entendre, ils peuvent régler cela tout de suite sur le champ de bataille jusqu’à ce qu’un seul clan reste à la fin. Lorsque ce sont deux territoires qui s'affrontent, si le vainqueur récupère l'amulette de Jarl d'un autre territoire, il ne pourra pas prétendre au titre de Jarl d'un territoire où il n'est pas établi, mais libre à lui de vendre, donner, échanger ladite amulette, ou les collectionner pour demander l'ordalie à la Capitale.<br/>

- Pas de retour au combat. Si vous étiez défenseur, vous vous placez près de votre monument, soit assis, sois en vous rendant, soit debout, mais interdiction de se réarmer jusqu’à la fin du JH.</p>
</section>
