<section id="server_view" class="view">
	<h2>Serveur</h2>

	<p>L'île Fenrir est une terre lointaine dans un océan inconnu, où seul des flots étenduent aux limites de la vision l'entoure. Rien ne s'en aperçoit, seul les vagues berçants son corps statique sur l'eau.
Au début de l'histoire de cette île ne vivait qu'un ermite dominé par la solitude, il se proclama Oracle prétendant transmettre la parole des Dieux. Aux prémices du mois d'août 1018 les premiers naufragés commencèrent à arriver sur l'île. Ils furent accueilli par le mystérieux Oracle, scandant en voix de manie, qu'ils seraient les élus destinés à grandir cette île.
Lees trois premiers naufragés se proclamèrent donc régent de Fenrir</p>
<p>[...]
(L'Histoire est évolutive. Elle se complétera par vos faits et actes, à vous de construire l'histoire de cette île.)</p>
	
</section>
