@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:700");
@font-face { font-family: "Kaushan"; src: url("../fnt/Kaushan-Regular.otf");}

@font-face { font-family: "VesperLibre-Regular"; src: url("../fnt/VesperLibre-Regular.ttf");}

* { box-sizing: border-box; margin: 0px; padding: 0px; outline: none;}
html { height: 100%;}
body { height: 100%; font-size: 0px; font-family: "Roboto"; color: #333;}
input { font-family: "Roboto";}
h1 { font-family: "VesperLibre-Regular"; font-weight: 400; color: #efede4;}

h2 { font-weight: 700; font-family: "VesperLibre-Regular";}
h3 { font-weight: 500; font-family: "VesperLibre-Regular"; color: #c20b00; }
a { text-decoration: none; font-family: "VesperLibre-Regular";}
ul { margin-left: 40px; list-style-type: circle;}

.max_width { display: block; width: 1024px; margin: auto;}

.separator { display: block; margin: 32px 256px; border-bottom: 1px solid #ccc;}
.small_separator { display: block; margin: 32px 0px;}

.bold { font-weight: 500;}
.min { font-size: 14px; font-style: italic; color: #777;}
.brown { color: #2b2205;}
.light_brown { color: #c20b00;}
.light_blue { color: #c20b00;}
.blue { color: #c20b00;}
.dark { color: #333;}
/*rgba(0, 0, 255, 0.5)*/

#main_div { min-width: 1024px; height: 100%; background-image: url("../img/lif_bg.jpg"); background-size: cover;}
	#main_div > .cover { display: block; width: 100%; height: 100%; background-color: rgba(201, 175, 156, 0.3); overflow: auto;}

#main_header { position: relative; z-index: 2; height: 64px; background-color: rgba(43,34, 5, 0.5) ; color: #fff;}
	#main_header > .max_width { height: 64px;}
		#main_header > .max_width > h1 { display: inline-block; vertical-align: top; width: 150px; height: 64px;}
			#main_header > .max_width > h1 > a { display: block; width: 100%; height: 64px; line-height: 64px; padding-left: 16px; font-size: 42px; color: #fff;}
		#main_header > .max_width > div { display: inline-block; vertical-align: top; width: calc(100% - 150px); height: 64px; padding: 8px 16px 8px 0px; text-align: right;}
			#main_header > .max_width > div > p { height: 24px; line-height: 24px; font-size: 16px;}

#main_nav { position: relative; z-index: 1; height: 32px; border-top: 1px solid #3a2513; border-bottom: 1px solid #3a2513; background-color:rgba(77,49, 25, 0.7); box-shadow: 0px 0px 4px #333;}
	#main_nav > .max_width { height: 30px;}
		#main_nav > .max_width > a { display: inline-block; vertical-align: top; height: 30px; line-height: 30px; /*padding: 0px 16px 0px 32px;*/ padding: 0px 16px; border-left: 1px solid #3a2513; /*background-size: 16px 16px; background-position: 4px 50%; background-repeat: no-repeat;*/ font-size: 16px; color: #fff; transition: all 250ms ease;}
		#main_nav > .max_width > a:last-child { border-right: 1px solid #3a2513;}
/*		#main_nav > .max_width > a.server { background-image: url("../img/icons/server.svg");}
		#main_nav > .max_width > a.map { background-image: url("../img/icons/map.svg");}
		#main_nav > .max_width > a.clans { background-image: url("../img/icons/clans.svg");}
		#main_nav > .max_width > a.mods { background-image: url("../img/icons/mods.svg");}*/
		#main_nav > .max_width > a:hover { /*background-color: #;*/ color: #b8957a;}

#main { display: block; width: 1024px; min-height: calc(100% - 96px); margin: auto; padding: 16px; box-shadow: 0px 0px 4px #333; background-color: rgba(229,227, 238, 0.9);}
	#main > .view {}
	#main > video {  }
		#main > .view > h2 { margin: 16px 0px; font-size: 24px;}
		#main > .view > h3 { margin: 32px 0px 16px 0px; font-size: 20px;}
		#main > .view > p { margin-top: 16px; font-size: 16px;}
		#main > .view > h3 > .para { margin-bottom: 32px;}
		#main > .view > ul { margin-top: 8px;}
			#main > .view > ul > li { font-size: 16px;}
		#main > .view a { color: #c20b00; text-decoration: underline;}

	#home_view {}
		#home_view > .imgs { margin-top: 20px;}
			#home_view > .imgs > img { display: inline-block; vertical-align: top; width: calc(50% - 8px); border: 1px solid #aaa;}
			#home_view > .imgs > img:first-child { margin-right: 8px;}
			#home_view > .imgs > img:last-child { margin-left: 8px;}

	#map_view {}
		#map_view > .controls {}
			#map_view > .controls > p { height: 32px; line-height: 32px; font-size: 16px;}
				#map_view > .controls > p > input { width: 16px; height: 16px; margin: 8px;}
		#map_container { display: block; position: relative; width: 768px; height: 768px; background-image: url("../img/map_800.png"); background-size: 100% 100%;}
			#map_container > .cell { display: inline-block; vertical-align: top; text-align: center; text-shadow: 1px 1px 1px #000; color: #fff;}
			#map_container > .cell:hover { background-color: rgba(255, 255, 255, 0.3); font-size: 12px;}
			#map_container.grid > .cell { border-right: 1px solid rgba(255, 255, 255, 0.5); border-bottom: 1px solid rgba(255, 255, 255, 0.5);}
			#map_container.positions > .cell { font-size: 12px;}
			#map_container.territories > .cell.NW { background-color: rgba(153, 0, 204, 0.5);}
			#map_container.territories > .cell.NE { background-color: rgba(51, 133, 255, 0.5);}
			#map_container.territories > .cell.SW { background-color: rgba(255, 204, 0, 0.5);}
			#map_container.territories > .cell.SE { background-color: rgba(51, 204, 51, 0.5);}
			#map_container.locked > .cell.locked { background-color: rgba(255, 0, 0, 0.5);}
				#logs { display: none; position: absolute; padding: 8px; border-radius: 5px; background-color: rgba(0, 0, 0, 0.8); color: #fff; font-size: 14px;}

#prose { width: 100%; padding-top: 15px; padding-bottom: 25px;}
